[Unit]
Description=guest-return

[Service]
Type=simple
User=lsp
EnvironmentFile=/apps/guest-%i.env
ExecStart=/home/aledut/return/target/debug/guest-return
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=guest-return
Restart=always
RestartSec=1
StartLimitBurst=0
StartLimitInterval=0
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitCORE=infinity
LimitRTTIME=infinity
